
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
    /*ul {
 padding: 0px;
 
    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;
  
    }
  }
*/

ion-icon {
    font-size: 30px;
}

.ion-header, .ion-tabs{

  background:  #602b2b;
}


h1 {
	color:  #444;
	letter-spacing: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 0;
	border-bottom : 1px solid white;
}

h2{
	
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	font-size: 20px;
	color: #602b2b;
}

.italic{
  font-weight: bold;
}



body {
	margin: 0px 0 0 0;
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #444;
	font-size: 18px;
	background-color: white;
	
}

.btn-success, .btn-success.focus, .btn-success:hover, .btn-success.active, .btn-success:active, .btn-success:link, .btn-success:visited, .btn-success:focus{
	background:#fffad5 !important;
	border-color: #8a8a8a !important;
	color : #444 !important;
	 
}


.panel{
	
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
	
	
	/* Pour voir les limites du formulaire */
    border: 1px solid #CCC;
    border-radius: 1em;
	background:white;
	padding:0;
}







.item_resto{
	
	margin:10px;
	color:black;
	
	
	
	
}

.item_resto h2{
	text-align:center;
	
	
	
	
}




.euro{
  content: '\f0f5';/** f005 pour des stars**/
  color: #FD4;
}


/*********************** FORM ****************************/



.round_box{
	    /* Pour le centrer dans la page */
    margin: 0 auto;
	height:100%;
	
	/* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
	
	
}









form div + div {
    margin-top: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 200px;
    text-align: center; 
}

input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}






/************* SELECT TYPES DE CUISINE ************/


select{
	display: inline-block;
	text-align:center;
	
}

.img-rounded  {
	max-height:150px; height:150px;
}